@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --color-primary: #071108;

}

*{
    box-sizing: border-box;
}
body {
    overflow-x: hidden; /* Ẩn thanh cuộn ngang */
    font-family: "Inter", serif;
}
.container{
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
.inner-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Button */
.button-1{
    width: 152px;
    height: 67px;
    background-color: #36827F;
    font-size: 22px;
    color: white;
    outline: none;
    border: 0;
}
.button-2{
    border-radius: 40px;
    width: 67px;
    height: 67px;
    background-color: transparent;
}
/* Header */
.header .inner-menu ul{
    display: flex;
    gap: 40px;
}
.header .inner-menu ul li{
    /* margin-right: 40px; */
    list-style: none;
}
.header .inner-menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 700;
}
.header .inner-menu ul li .underline{
    display: inline-block;
    position: relative; 
    font-weight: bold; 
}
.header .underline::after {
    content: ""; 
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 40%; 
    height: 3px; 
    background-color: teal; 
}
.header .inner-menu ul li .add-icon{
    color: var(--color-primary);
}
.header .inner-menu ul li .add-icon::after{
    content: "\f078";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    font-size: 15px;
    margin-left: 8px;
}

.header .inner-search button{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    margin-right: 20px;
}
.header .inner-search button:last-child{
    margin-right: 0px;
}
/* End Header */

/* Section 1 */

.section1 .inner-wrap .inner-content{
    width: 50%;
    height: auto;
    padding: 10px 20px;
}
.section1 .text-intro{
    font-size: 45px;    
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 400;
    letter-spacing: 0.15em;
}
.section1 .inner-content .text-logo{
    font-family: 'Bungee Inline', cursive;
    font-size: 80px;
    display: inline-block;
    position: relative; 
    font-weight: bold; 
    margin: 10px 0;
}
.section1 .inner-content .text-logo::after{
    content: ""; 
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 40%; 
    height: 3px; 
    background-color: var(--color-primary); 
}
.section1 .text-main{
    font-size: 24px;
    width: 412px;
}
.section1 .img-content .img-content-change{
    position: relative;
    left: -10px;
}
.section1 .section-end{
    display: flex;
    align-items: center;
}
.section1 .section-end .function{
    margin-left: 20px;
}
.section1 .section-end button i{
    font-size: 20px;
}

.section1 .inner-image{
    position: relative;
    width: 50%;
    top: -15px;
    right: 200px;
}

.section1 .inner-statistic{
    width: 1025px;
    display: flex;
    justify-content: space-between;
    margin: 120px auto;
    align-items: center;
}
.section1 .inner-statistic .sta{
    width: calc((1025px - 125px) / 6);
    height: 105px;
    border: 1px solid #e1dede;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.section1 .inner-statistic .sta .sta-1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: baseline;
    margin-top: 10px;
}
.section1 .inner-statistic .sta .sta-1 .sta-num{
    margin-right: 10px;
}
.section1 .sta-num{
    font-size: 30px;
    font-weight: 600;
}
.section1 p{
    overflow: hidden;
    margin-bottom: 10px;
}

/* End Section 1 */

/* Section 2 */

.section2 .section2-content{
    font-size: 72px;
    font-weight: 600;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}

.section2 .section2-content .underline::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 470px;
    width: 20%;
    height: 5px;
    background-color: #317573; 
}

/* giao diện ảnh */
.section2 .optionList{
    display: flex;
}
.section2 .op1{
    overflow: hidden;
    margin-top: 30px;
    margin-right: 27px;
}
.section2 .img{
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.section2 .slogan{
    position: absolute;
    top: 20px;
    left: 115px;
    color: teal;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.section2 .color-options {
    position: absolute;
    left: 5px;
    width: 40px;
    background: white;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.color {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid white;
}

.red { background: #980F1C; }
.yellow { background: #E4B736; }
.black { background: #191818; }
.blue { background: #2F477E; }
.plum-red { background: #721B2C;}
.gray { background: #CDCACF;}
.mint {background-color: #869991;}
.green {background-color: #446056;}

.section2 .optionList img{
    background-color: #F1F2F4;
    width: 280px;
    
}
.section2 .optionList .inner-img{
    position: absolute;
    bottom: 160px;
    left: 230px;
    display: flex;
    flex-direction: column;
}
.section2 .optionList .inner-img img{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
} 
.section2 h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
}
.section2 .price{
    color: #36827F;
    font-weight: 500;
}
.section2 .buy-section{
    display: flex;
    align-items: center;
}
.section2 .buy-btn{
    width: 125px;
    height: 30px;
    background-color: #36827F;
    color: white;
    outline: none;
    border: none;
    margin-right: 70px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: nowrap; */

}
.section2 .buy-btn .arrow::after{
    content: "\f061";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
}
.section2 .sold{
    margin-right: 18px;
    font-size: 12px;
}
/* End Section 2 */

