@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --color-primary: #071108;

}

*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    overflow-x: hidden; /* Ẩn thanh cuộn ngang */
    font-family: "Inter", serif;
}
.container{
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
.inner-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Button */
.button-1{
    width: 152px;
    height: 67px;
    background-color: #36827F;
    font-size: 22px;
    color: white;
    outline: none;
    border: 0;
}
.button-2{
    border-radius: 40px;
    width: 67px;
    height: 67px;
    background-color: transparent;
}
/* Header */
.header .inner-menu ul{
    display: flex;
    gap: 40px;
}
.header .inner-menu ul li{
    /* margin-right: 40px; */
    list-style: none;
}
.header .inner-menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 700;
}
.header .inner-menu ul li .underline{
    display: inline-block;
    position: relative; 
    font-weight: bold; 
}
.header .underline::after {
    content: ""; 
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 40%; 
    height: 3px; 
    background-color: teal; 
}
.header .inner-menu ul li .add-icon{
    color: var(--color-primary);
}
.header .inner-menu ul li .add-icon::after{
    content: "\f078";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    font-size: 15px;
    margin-left: 8px;
}

.header .inner-search button{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    margin-right: 20px;
}
.header .inner-search button:last-child{
    margin-right: 0px;
}
/* End Header */

/* Section 1 */

.section1 .inner-wrap .inner-content{
    width: 50%;
    height: auto;
    padding: 10px 20px;
}
.section1 .text-intro{
    font-size: 45px;    
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 400;
    letter-spacing: 0.15em;
}
.section1 .inner-content .text-logo{
    font-family: 'Bungee Inline', cursive;
    font-size: 80px;
    display: inline-block;
    position: relative; 
    font-weight: bold; 
    margin: 10px 0;
}
.section1 .inner-content .text-logo::after{
    content: ""; 
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 40%; 
    height: 3px; 
    background-color: var(--color-primary); 
}
.section1 .text-main{
    font-size: 24px;
    width: 412px;
}
.section1 .img-content .img-content-change{
    position: relative;
    left: -10px;
}
.section1 .section-end{
    display: flex;
    align-items: center;
}
.section1 .section-end .function{
    margin-left: 20px;
}
.section1 .section-end button i{
    font-size: 20px;
}

.section1 .inner-image{
    position: relative;
    width: 50%;
    top: -15px;
    right: 200px;
}

.section1 .inner-statistic{
    width: 1025px;
    display: flex;
    justify-content: space-between;
    margin: 120px auto;
    align-items: center;
}
.section1 .inner-statistic .sta{
    width: calc((1025px - 125px) / 6);
    height: 105px;
    border: 1px solid #e1dede;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.section1 .inner-statistic .sta .sta-1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: baseline;
    margin-top: 10px;
}
.section1 .inner-statistic .sta .sta-1 .sta-num{
    margin-right: 10px;
}
.section1 .sta-num{
    font-size: 30px;
    font-weight: 600;
}
.section1 p{
    overflow: hidden;
    margin-bottom: 10px;
}

/* End Section 1 */

/* Section 2 */

.section2 .section2-content{
    font-size: 72px;
    font-weight: 600;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    margin-top: 120px;
}

.section2 .section2-content .underline::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 470px;
    width: 20%;
    height: 5px;
    background-color: #317573; 
}

/* giao diện ảnh */
.section2 .optionList{
    display: flex;
}
.section2 .op1{
    overflow: hidden;
    margin-top: 30px;
    margin-right: 27px;
}
.section2 .img{
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.section2 .slogan{
    position: absolute;
    top: 20px;
    left: 115px;
    color: teal;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.section2 .color-options {
    position: absolute;
    left: 5px;
    width: 40px;
    background: white;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.color {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid white;
}

.red { background: #980F1C; }
.yellow { background: #E4B736; }
.black { background: #191818; }
.blue { background: #2F477E; }
.plum-red { background: #721B2C;}
.gray { background: #CDCACF;}
.mint {background-color: #869991;}
.green {background-color: #446056;}

.section2 .optionList img{
    background-color: #F1F2F4;
    width: 280px;
    
}
.section2 .optionList .inner-img{
    position: absolute;
    bottom: 160px;
    left: 230px;
    display: flex;
    flex-direction: column;
}
.section2 .optionList .inner-img img{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
} 
.section2 h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
}
.section2 .price{
    color: #36827F;
    font-weight: 500;
}
.section2 .buy-section{
    display: flex;
    align-items: center;
}
.section2 .buy-btn{
    width: 125px;
    height: 30px;
    background-color: #36827F;
    color: white;
    outline: none;
    border: none;
    margin-right: 70px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    /* flex-wrap: nowrap; */

}
.section2 .buy-btn .arrow::after{
    content: "\f061";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
}
.section2 .sold{
    margin-right: 18px;
    font-size: 12px;
}
/* End Section 2 */

/* Section 3 */
.section3 .inner-left{
    width: 50%;
    margin-top: 120px;
}
.section3 .inner-left-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section3 .title{
    font-size: 64px;
    font-weight: 600;
}
.section3 .arrow-button{
    display: flex;
}
.section3 .arrow-button-left::before{
    content: "\f177";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 20px;
    border: solid 1px #071108;
    padding: 15px;
    border-radius: 50%;
    font-size: 24px;
}
.section3 .arrow-button-right::after{
    content: "\f178";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    border: solid 1px #071108;
    padding: 15px;
    border-radius: 50%;
    font-size: 24px;
}
.section3 .inner-infor{
    display: flex;
}
.section3 .inner-infor .inner-infor-1{
    position: relative;
    width: 60%;
}
.section3 .bg{
    background-color: #F1F2F4;
    padding-bottom: 20px;
}
.section3 .img-1{
    position: relative;
    z-index: 9999;
    width: 100%;
    top: 30px;
}
.section3 .effect-1::after{
    content: "";
    position: absolute;
    width: 85%;
    height: 40px;
    background: linear-gradient(180deg, rgba(113,206,203,1) 0%, rgba(55,130,127,1) 100%);
    padding: 15px;
    border-radius: 70%;
    top: 200px;
    left: 10px;
    z-index: 0;
}
.section3 .inner-infor .description{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
}
.section3 .inner-infor-2{
    position: relative;
    margin-left: 15px;
    width: 50%;
}
.section3 .img-2{
    position: relative;
    top: 115px;
    z-index: 9999;
}
.section3 .inner-infor .effect-2:after{
    content: "";
    position: absolute;
    width: 85%;
    height: 225px;
    background-color: #36827F; 
    padding: 15px;
    border-radius: 70%;
    top: 125px;
    left: 5px;
    z-index: 0;
}
.section3 .bg-2{
    background-color: #F1F2F4;
    height: 400px;
}
.section3 .inner-wrap{
    align-items: start;
    justify-content: space-around;
}
.section3 .inner-right{
    margin-top: 120px;
}
.section3 .inner-right .content{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items:end;
}
.section3 .inner-right .content p{
    margin: 0px;
}
.section3 .inner-right .content .font{
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 25px;
}
.section3 .inner-right .content .f1{
    color: #D9D9D9;
    position: relative;
}
.section3 .inner-right .content .f2{
    position: relative;
}
.section3 .inner-right .content .f1::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;   
    background-color: #D9D9D9;
    top: 60%;
    right: 5%;
}
.section3 .inner-right .content .f2{
    color: #071108;
}
.section3 .inner-right .content .f2::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;   
    background-color: #000;
    top: 60%;
    left: 5px;
}
.section3 .inner-right .click{
    display: flex;
}
.section3 .inner-right button{
    width: 150px;
    height: 60px;
    color: white;
    font-size: 18px;
    background-color: #36817E;
    border: none;
}
.section3 .inner-right button{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section3 .inner-right button .arrow::after{
    content: "\f061";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

/* End Section 3 */
/* Section 4 */
.section4{
    margin-top: 120px;
    padding-bottom: 80px;
    background-color: #F1F2F4;
}
.section4 p{
    margin: 0;
}
.section4 h2{
    margin: 0;
    position: relative;
}
.section4 .title .text-1{
    padding-top: 60px;
    font-size: 28px;
    font-weight: 500;
    color: #696969;
    text-align: center;
}
.section4 .title .text-2{
    font-size: 72px;
    text-align: center;
    font-weight: 600;
}
.section4 .title .underline{
    display: flex;
    align-items: center;
    position: relative; 
    font-weight: bold; 
}
.section4 .title .underline::after {
    content: ""; 
    position: absolute;
    bottom: -5px; 
    left: 30%;
    width: 40%; 
    height: 5px; 
    background-color: #36827F; 
}
.section4 .image{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 45px;
}
.section4 img{
    position: relative;
}

.effect1::after{
    position: absolute;
    content: "";
    width: 20%;
    height: 2px;
    color: #36827F;
    top: 20px;
    left: 15px;
}

/* End Section 4 */

/* Section 5 */
.section5{
    margin-top: 120px;
    margin-bottom: 120px;
}
.section5 h2{
    position: relative;
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
}
.section5 h2 .underline::after{
    content: "";
    position: absolute;
    width: 20%;
    height: 5px;
    background-color: #36827F;
    top: 100%;
    left: 40%;
}

.timeline {
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 40px;
}
.section5 .timeline:nth-child(2n+1) {
    flex-direction: row-reverse;
}

.section5 .content {
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}
.section5 img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.h3{
    font-size: 16px;
}
.section5 p{
    font-size: 14px;    
    color: #071108;
}
/* End Section 5 */

/* Section 6 */
.section6{
    margin-top: 120px;
}
.section6 h2{
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-size: 64px;
}
.section6 h2 .underline::after{
    position: absolute;
    content: "";
    width: 20%;
    height: 5px;
    background-color: #36827F;
    left: 40%;
    margin-bottom: 40px;
}
.section6 .item{
    /* width: calc((100% - 30px)/3); */
    display: flex;
    gap: 30px;
}
.section6 .item > div{
    width: calc((100% - 60px) / 3);
}
.section6 .title{
    font-size: 18px;
}
.section6 .description{
    font-size: 18px;
    color: #696969;
}
.section6 img{
    position: relative;
    left: -10px;
}
.section6 .button{
    display: flex;
}
.section6 .button .text-1{
    font-size: 12px;
    border: 3px solid #000;
    width: auto;
    height: auto;
    padding: 5px 15px 5px 15px;
}
.section6 .button .button-news{
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 10px;
    background-color: #347C7A;
    border: none;
    color: white;
    padding: 2px 18px 2px 18px;
}

.section6 .pagnigation{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section6 .pagnigation .arrow-left::before{
    content: "\f060";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    padding: 15px 15px 15px 15px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-right: 65px;
}
.section6 .pagnigation .arrow-right::after{
    content: "\f061";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    padding: 15px 15px 15px 15px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-left: 65px;
}
.section6 .pagnigation .center{
    display: flex;
    gap: 15px;
}
.section6 .item1{
    width: 20px;
    height: 15px;
    background-color: #317573;
    border-radius: 40%;
}
.section6 .item2{
    width: 10px;
    height: 15px;
    background-color: #CAE0DF;
    border-radius: 40%;
}
/* End Section 6 */

/* Section7 */
.section7 .bg-color{
    margin-top: 120px;
}
.section7 .bg-color .img{
    position: relative;
}
.section7 .outer{
    position: absolute;
    top: -5px;
    left: 30%;
    width: 550px;
    height: 500px;
    border: 1px solid #fff;
    background-color: #fff;
    text-align: center;
}
.section7 .outer h2{
    font-size: 32px;
    text-transform: uppercase;
}
.section7 .outer h2 .underline{
    position: relative;
    top: 10px;
    left: 30%;
    content: "";
    width: 40%;
    height: 2px;
    background-color: #317573;
}
.section7 p{
    display: inline-block;
}
.section7 .content{
    width: 80%;
}
.section7 .add{
    padding-left: 4px;
    color: #317573;
    font-weight: 800;
}
.section7 input{
    font-size: 20px;
    width: 422px;
    height: 56px;
    margin-bottom: 20px;
    padding: 16px 20px 16px 10px;
}
/* End Section7 */